* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
}

.logo {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.nav-links {
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    width: 38%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
    color: black;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: 0.5s ease;
}

.nav-active {
    transform: translateX(0%) !important;
}

.header {
    position: relative;
    text-align: center;
    color: white;
    margin-top: -20px; /* 全体的に上に移動 */
}

.header img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(50%); /* 画像に黒いフィルターをかける */
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2.5rem;
}

.container {
    padding: 20px;
}

h2 {
    color: #333;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
}

.footer {
    background-color: #f8f8f8;
    text-align: center;
}

#私たちについて {
    position: relative;
    background-color: #FFF5ED;
    padding: 20px; 
    padding-top: 50px;

    .container-title{
        font-size: 5rem;
        font-weight: bold;
        margin-left: 10%;
        color: #1489FF;
    }

    .unit {
        position: relative;
        display: flex;
        margin: 0% 10% 5% 10%;
        align-items: center; 

        .shape {
            text-align: center;
            width: 20vw;
            height: 20vw;
            background-color: white;
            margin: 10px;
            display: grid;
            place-items: center;
            flex-shrink: 0;
            color: white;
            font-size: 15vw;
        }

        .unit-card {
            background-color: white;
            flex: 1; 
            padding: 10px; 
            min-height: 20vw;
            margin-left: 80px;
            border-radius: 50px;
            padding: 50px;

            p,
            h3{
                position: relative;
                z-index: 2;
            }
            
            h3 {
                margin-bottom: 30px;
                font-size: 3rem;
                font-weight: bold;
            }

            p {
                font-size: 1.8rem;
            }
        }

        #shape00{
            border-radius: 100%;
            background-color: #B8E2AE;
        }

        #shape01{
            clip-path: polygon(0 100%, 50% 0, 100% 100%);
            background-color: #9BD4FF;
            position: relative;

            p{
                position: relative;
                bottom: -2vw;
            }
        }

        #shape02{
            border-radius: 10%;
            background-color: #FFC400;
        }
    }

    #unit2{
        flex-direction: row-reverse;
        .unit-card{
            margin-left: 0px;
            margin-right: 80px;
        }
    }

    .decoretion-shape{
        position: absolute;
    }

    #decoration00{
        width: 12vw;
        height: 12vw;
        border-radius: 100%;
        background-color: #FFC400;
        right: 27%;
        top: 30%;
    }

    #decoration01{
        width: 8vw;
        height: 8vw;
        border-radius: 100%;
        background-color: #FF9BBD;
        left: 30%;
        top: 60%;
        z-index: 1;
    }
}



@media screen and (max-width: 1024px) {
    .nav-links {
        width: 55%;
    }

    #私たちについて{
        .container-title{
            font-size: 3.5rem;
        }

        .unit,
        #unit2{
            flex-direction: column;
            align-items: start;

            .shape{
                width: 10vw;
                height: 10vw;
                font-size: 5vw;
            }

            .unit-card{
                margin: 0px;
                padding: 40px;
                
                h3{
                    font-size: 2.5rem;
                }

                p{
                    font-size: 1.3rem;
                }
            }
        }

        #unit2{
            align-items: end;
        }

        #decoration00{
            top: 32%;
        }

        #decoration01{
            top: 65%;
            left: 33%;
        }
    }
}

@media screen and (max-width: 768px) {

    /* body {
      display: none;
    } */
    body {
        overflow-x: hidden;
    }

    .nav-links {
        /* display: flex; */
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

@keyframes navLinksFade {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}